#root {
  max-width: full;
  max-height: full;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(102, 102, 102);
  color: white;
}

a {
  color: black;
}

.landingimage {
  box-shadow: 0px 10px 70px rgba(0, 0, 0, 0.3);
}

.newBack {
  background-color: black;
}

#con {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 1.2em;
  height: 3em;
  width: 100%;
  padding: 1.7em 0 0 0;
}

.footerbutton {
  color: black;
  text-decoration: none;
  font-size: 1.3em;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}